In [1]:
import pandas as pd

In [3]:
print(pd.__version__)

2.2.1

In [7]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
df[["event","temperature"]]

   event  temperature
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           31

In [19]:
df["event"].max()

'Sunny'

In [20]:
df["windspeed"].mean()

4.666666666666667

In [21]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [24]:
df["day"]=="1/3/2017"

0    False
1    False
2     True
3    False
4    False
5    False
Name: day, dtype: bool

In [25]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [30]:
df[df["temperature"]>31]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [33]:
df["windspeed"].std()

2.3380903889000244

In [35]:
df["windspeed"].max()

7

In [39]:
#isnull is a function to check null places
df.isnull()

     day  temperature  windspeed  event
0  False        False      False  False
1  False        False      False  False
2  False        False      False  False
3  False        False      False  False
4  False        False      False  False
5  False        False      False  False

In [45]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [51]:
df.set_index("day", inplace = True)

KeyError: "None of ['day'] are in the columns"

In [ ]:
def(city,province):
city=input("enter city:",city)
province=