In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lab.4\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lab.4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab.4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab.4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab.4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lab.4\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
print(pd.__version__)

2.2.1

In [7]:
mydataset={
    "cars":["bmw","volvo","ford"],
    "passings":[3,7,2],
    "colour":["yellow","red","blue"],
   
}

pd.DataFrame(mydataset)

    cars  passings  colour
0    bmw         3  yellow
1  volvo         7     red
2   ford         2    blue

In [8]:
mydataset={
    "cars":["bmw","volvo","ford"],
    "passings":[3,7,2],
    "colour":["yellow","red","blue"],
   
}

myvar=pd.DataFrame(mydataset)
print(myvar)

    cars  passings  colour
0    bmw         3  yellow
1  volvo         7     red
2   ford         2    blue

In [16]:
mydataset={
    "cars":["bmw","volvo","ford","corolla","civic","kia"],
    "passings":[3,7,2,8,4,9],
    "colour":["yellow","red","blue","white","black","purple"],
   
}

myvar=pd.DataFrame(mydataset)
myvar.head()

      cars  passings  colour
0      bmw         3  yellow
1    volvo         7     red
2     ford         2    blue
3  corolla         8   white
4    civic         4   black

In [17]:
mydataset={
    "cars":["bmw","volvo","ford","corolla","civic","kia"],
    "passings":[3,7,2,8,4,9],
    "colour":["yellow","red","blue","white","black","purple"],
   
}

myvar=pd.DataFrame(mydataset)
myvar.tail()

      cars  passings  colour
1    volvo         7     red
2     ford         2    blue
3  corolla         8   white
4    civic         4   black
5      kia         9  purple

In [18]:
mydataset={
    "cars":["bmw","volvo","ford","corolla","civic","kia"],
    "passings":[3,7,2,8,4,9],
    "colour":["yellow","red","blue","white","black","purple"],
   
}

myvar=pd.DataFrame(mydataset)
myvar.sample(3)

   cars  passings  colour
2  ford         2    blue
5   kia         9  purple
0   bmw         3  yellow

In [20]:
mydataset={
    "cars":["bmw","volvo","ford","corolla","civic","kia"],
    "passings":[3,7,2,8,4,9],
    "colour":["yellow","red","blue","white","black","purple"],
   
}

myvar=pd.DataFrame(mydataset)
print(myvar.shape)

(6, 3)

In [24]:
mydataset={
    "cars":["bmw","volvo","ford","corolla","civic","kia"],
    "passings":[3,7,2,8,4,9],
    "colour":["yellow","red","blue","white","black","purple"],
   
}

myvar=pd.DataFrame(mydataset)
myvar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cars      6 non-null      object
 1   passings  6 non-null      int64
 2   colour    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [25]:
mydataset={
    "cars":["bmw","volvo","ford","corolla","civic","kia"],
    "passings":[3,7,2,8,4,9],
    "colour":["yellow","red","blue","white","black","purple"],
   
}

myvar=pd.DataFrame(mydataset)
myvar.describe()

       passings
count  6.000000
mean   5.500000
std    2.880972
min    2.000000
25%    3.250000
50%    5.500000
75%    7.750000
max    9.000000

In [2]:
import pandas as pd

In [3]:

mydataset={
    "cars":["bmw","volvo","ford","corolla","civic","kia"],
    "passings":[3,7,2,8,4,9],
    "colour":["yellow","red","blue","white","black","purple"],
   
}

myvar=pd.DataFrame(mydataset)
pd

a=[1,5,8,3,6]
var=pd.Series(a)